@model BikeProject.Models.SaleMan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SaleMan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleManName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleManName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SaleManId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
